<template>
	<auto-complete name="productSKU" required ref="productSearch" @query="queryChanged" placeholder="Search products"></auto-complete>
</template>

<script>
import AutoComplete from './Autocomplete.vue'

export default {
  name: 'App',
  components: {
	AutoComplete,
  },
  methods: {
	queryChanged(newQuery) {
		console.log('query changed', newQuery)
	},
  }
}
</script>

<style>
</style>
