<template>
  <div class="Typeahead">
    <i class="fa-spin" v-if="loading">
    <svg style="width: 0.75em;" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="spinner" class="svg-inline--fa fa-spinner fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M304 48c0 26.51-21.49 48-48 48s-48-21.49-48-48 21.49-48 48-48 48 21.49 48 48zm-48 368c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zm208-208c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zM96 256c0-26.51-21.49-48-48-48S0 229.49 0 256s21.49 48 48 48 48-21.49 48-48zm12.922 99.078c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.491-48-48-48zm294.156 0c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.49-48-48-48zM108.922 60.922c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.491-48-48-48z"></path></svg>
  </i>
    <template v-else>
      <i class="" v-show="isEmpty">
      <svg class="svg-inline--fa" style="width: 0.75em;" aria-hidden="true" data-prefix="fa" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path></svg>
    </i>
      <i class="" v-show="isDirty" @click="reset">
      <svg class="svg-inline--fa" style="width: 0.75em;" aria-hidden="true" data-prefix="fa" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" data-fa-i2svg=""><path fill="currentColor" d="M323.1 441l53.9-53.9c9.4-9.4 9.4-24.5 0-33.9L279.8 256l97.2-97.2c9.4-9.4 9.4-24.5 0-33.9L323.1 71c-9.4-9.4-24.5-9.4-33.9 0L192 168.2 94.8 71c-9.4-9.4-24.5-9.4-33.9 0L7 124.9c-9.4 9.4-9.4 24.5 0 33.9l97.2 97.2L7 353.2c-9.4 9.4-9.4 24.5 0 33.9L60.9 441c9.4 9.4 24.5 9.4 33.9 0l97.2-97.2 97.2 97.2c9.3 9.3 24.5 9.3 33.9 0z"></path></svg>

    </i>
    </template>

    <input type="text"
           class="Typeahead__input"
           :placeholder="placeholder"
           autocomplete="off"
           v-model="query"
           @keydown.down="down"
           @keydown.up="up"
           @keydown.enter="hit"
           @blur="onBlur"
           @input="update"/>

    <ul v-show="hasItems">
      <li v-for="(item, $item) in items" :key="item.title" :class="activeClass($item)" @mousedown="hit" @mousemove="setActive($item)">
        <img v-if="item.image" :src="item.image.src" width="50"/>
        <span class="product-title" v-text="item.title"></span>
      </li>
    </ul>
  </div>
</template>

<script>
import VueTypeahead from 'vue-typeahead'

export default {
  extends: VueTypeahead,
  props: ['placeholder'],
  data () {
    return {
      src: '/data.json',
      limit: 5,
      minChars: 4,
      selectedItem: false
    }
  },
  watch: {
    query(newQuery) {
      this.$emit('query', newQuery)
    }
  },
  methods: {
    onBlur () {
      this.items = []
    },
    clear() {
      this.selectedItem = false
      this.reset()
    },
    onHit (item) {
      this.query = item.title
      this.selectedItem = item
      this.loading = false
      this.items = []
    }
  }
}
</script>

<style scoped>
.Typeahead {
  position: relative;
}
.Typeahead__input:focus {
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px #4fc08d;
}
.Typeahead__input {
	box-shadow: 0 0 0 1px #d9d9d9;
	transition: all 0.2s ease-out;
	background-color: white;
	color: #333333;
	border-radius: 4px;
	width: 100%;
	padding: 0.8em;
	word-break: normal;
	display: block;
	text-align: center;
	font-size: 1.0em;
	height: auto !important;
  box-sizing: border-box;
}
.fa-times {
  cursor: pointer;
}
i {
  float: right;
  position: relative;
  top: 30px;
  right: 29px;
  opacity: 0.4;
}
ul {
  position: absolute;
  padding: 0;
  margin: 1em 0 0 0;
  min-width: 100%;
  background-color: #fff;
  list-style: none;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0,0,0, 0.25);
  z-index: 1000;
}
li {
  text-align: left;
  padding: 10px 16px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}
li:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
li:last-child {  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: 0;
}
li img {
  vertical-align: middle;
}
li span {
  margin-left: 2em;
  color: #2c3e50;
}
.active {
  background-color: #3aa373;
}
.active span {
  color: white;
}
</style>
